@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

$primaryFont: "Lato", sans-serif;
$primaryColor: #ff2625;
$defaultTransition: all 500ms ease;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
