.hero {
  @include flex(space-between, flex-end);
  min-height: 80vh;
  max-width: 90vw;
  margin: 0 auto;
  padding: 25px 10px;
  font-family: $primaryFont;

  h2 {
    color: $primaryColor;
  }

  #title {
    padding: 30px 0 20px;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 60px;
    font-weight: 700;
    max-width: 300px;
  }

  #bg {
    color: $primaryColor;
    font-size: 12.5rem;
    font-weight: 600;
    opacity: 0.1;
    display: block;
    text-align: center;
  }

  h3 {
    font-weight: 500;
    padding-bottom: 40px;
    max-width: 450px;
  }

  button {
    background: none;
    border: none;
    font-family: $primaryFont;
    text-transform: uppercase;

    a {
      color: #fff;
      text-decoration: none;
      background-color: $primaryColor;
      padding: 15px 25px;
      border-radius: 5px;
      letter-spacing: 2px;
      transition: $defaultTransition;

      &:hover {
        background-color: #fff;
        color: $primaryColor;
        border: 2px dashed $primaryColor;
      }
    }
  }

  img {
    position: absolute;
    right: 60px;
    top: 0px;
    width: 630px;
    height: 800px;
    margin-top: -15px;
  }
}
