nav {
  @include flex(none, flex-end);
  max-width: 90vw;
  margin: 0 auto;
  padding: 25px 10px;
  font-family: $primaryFont;

  a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 80px;

    &.active {
      border-bottom: 3px solid $primaryColor;
    }
  }
}
