.pageDetail {
  font-family: $primaryFont;

  > h1 {
    max-width: 90vw;
    margin: 0 auto;
    font-size: 2.5rem;
    margin-bottom: 3rem;

    span {
      color: $primaryColor;
    }
  }
}

.detail {
  @include flex(space-between, flex-start);
  max-width: 90vw;
  margin: 1rem auto;

  > img {
    width: 550px;
    margin-right: 40px;
  }

  .info {
    @include flex(space-between, flex-start);
    flex-direction: column;

    h1 {
      font-size: 2.5rem;
      padding: 20px 0;
      text-transform: capitalize;
      max-width: 700px;
    }

    p {
      font-size: 1.2rem;
      line-height: 30px;
      margin-bottom: 2rem;
      max-width: 700px;
    }

    > div > div {
      @include flex(flex-start, center);
      margin: 0.5rem 0;

      button {
        height: 85px;
        width: 85px;
        background-color: #fff2de;
        padding: 15px;
        border-radius: 50%;
        border: none;

        img {
          height: 80%;
        }
      }

      h3 {
        text-transform: capitalize;
        margin: 0 2rem;
      }
    }
  }
}

.video {
  max-width: 90vw;
  margin: 4rem auto;
  font-family: $primaryFont;

  > h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;

    span {
      color: $primaryColor;
    }
  }

  > div {
    @include flex(space-between, flex-start);
    flex-wrap: wrap;
    gap: 5rem;

    img {
      height: 200px;
      border-radius: 25px 0;
    }

    h3 {
      font-size: 2rem;
      padding: 5px 0;
      max-width: 350px;
    }

    h4 {
      opacity: 0.7;
    }

    h5 {
      float: right;
      opacity: 0.7;
    }
  }
}

.pageDetail .react-horizontal-scrolling-menu--wrapper {
  @include flex(center, flex-start);
  flex-direction: column;
  max-width: 80vw;
  margin: 5rem auto 0;
  position: relative;

  .left-arrow,
  .right-arrow {
    position: absolute;
    top: -100px;
    margin-top: 3rem;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.3, 1.3);
    }
  }

  .right-arrow {
    left: 0;
  }

  .left-arrow {
    left: 50px;
  }

  .react-horizontal-scrolling-menu--item {
    height: 500px;

    .exerciseCard {
      margin-right: 40px;
      margin-bottom: 0;
      transform: scale(1, 1);
      transition: 0.3s all ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.05, 1.05);
      }

      img {
        height: 326px;
      }
    }
  }
}
