.detail {
  @include flex(space-evenly, flex-start);
  font-family: $primaryFont;
  max-width: 90vw;
  margin: 1rem auto;

  > img {
    width: 40%;
  }

  > div {
    @include flex(space-between, flex-start);
    flex-direction: column;

    h1 {
      font-size: 3rem;
      padding: 20px 0;
      text-transform: capitalize;
    }

    p {
      font-size: 1.2rem;
      line-height: 30px;
      margin-bottom: 2rem;
    }

    > div {
      @include flex(center, center);
      margin: 0.5rem 0;

      button {
        height: 85px;
        width: 85px;
        background-color: #fff2de;
        padding: 15px;
        border-radius: 50%;
        border: none;

        img {
          height: 80%;
        }
      }

      h3 {
        text-transform: capitalize;
        margin: 0 2rem;
      }
    }
  }
}

.video {
  max-width: 90vw;
  margin: 4rem auto;
  font-family: $primaryFont;

  > h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  > div {
    @include flex(space-between, center);
    flex-wrap: wrap;
    gap: 5rem;

    img {
      height: 200px;
    }

    h3 {
      padding: 5px 0;
    }

    h4 {
      opacity: 0.7;
    }

    h5 {
      float: right;
      opacity: 0.7;
    }
  }
}
