@include mediaLarge {
  nav {
    padding: 25px 0;
  }

  .hero {
    padding: 25px 0;

    img {
      right: 20px;
      width: 450px;
      height: 550px;
      margin-top: 0;
    }

    #bg {
      font-size: 10rem;
    }
  }

  .search {
    margin-top: 2rem;

    .react-horizontal-scrolling-menu--wrapper {
      max-width: 90vw;

      .bodyPart {
        width: 300px;
        margin: 0 30px;
      }
    }
  }

  .pageDetail .react-horizontal-scrolling-menu--wrapper {
    max-width: 90vw;
  }

  .detail {
    justify-content: center;
    flex-direction: column-reverse;

    > img {
      width: 450px;
      display: block;
      margin: 0 auto 1.5rem;
    }

    .info {
      margin-bottom: 4rem;

      h1 {
        font-size: 2.5rem;
        max-width: none;
      }

      p {
        max-width: none;
        font-size: 1.5rem;
      }

      > div {
        @include flex(space-between, center);
        width: 100%;

        > div {
          flex-direction: column;

          button {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@include mediaMediumLarge {
  .hero {
    display: block;
    text-align: center;

    img {
      display: none;
    }

    h2 {
      text-align: start;
    }

    #title,
    h3 {
      max-width: none;
    }
  }

  .search .react-horizontal-scrolling-menu--wrapper {
    max-width: 90vw;

    .bodyPart {
      width: 300px;
      margin: 0 25px;
    }
  }

  .exercises > div {
    align-items: flex-start;
    gap: 1rem;

    .exerciseCard {
      width: 300px;

      img {
        width: 250px;
      }

      h1 {
        font-size: 1.3rem;
      }

      > div button {
        margin-bottom: 0.5rem;
      }
    }
  }

  .detail {
    .info {
      h1 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .video {
    > div {
      justify-content: center;
      align-items: center;
      gap: 3rem;

      img {
        height: 250px;
      }

      h3 {
        max-width: 400px;
      }
    }
  }

  .pageDetail .react-horizontal-scrolling-menu--wrapper {
    .react-horizontal-scrolling-menu--item {
      .exerciseCard {
        width: 300px;
        margin-right: 55px;

        img {
          width: 250px;
        }

        h1 {
          font-size: 1.3rem;
        }

        > div button {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

@include mediaMedium {
  nav {
    justify-content: flex-start;

    a:not(#logo) {
      margin-left: 50px;
    }
  }

  .hero #bg {
    font-size: 8rem;
    margin-top: 2rem;
  }

  .search {
    h1 {
      font-size: 2.5rem;
    }

    > div:first-of-type {
      max-width: 90vw;
    }

    .react-horizontal-scrolling-menu--wrapper {
      h1 {
        padding: 0;
      }

      .bodyPart {
        width: 450px;
        margin: 0 30px;
      }
    }
  }

  .exercises > div .exerciseCard {
    width: 100%;
    align-items: center;

    img {
      width: 300px;
    }

    > div {
      width: 100%;
    }

    h1 {
      font-size: 2rem;
      padding: 15px 10px 30px;
    }
  }

  .detail {
    > img {
      width: 90%;
    }

    .info {
      h1 {
        font-size: 2rem;
        padding: 0 0 20px;
      }
    }
  }

  .video {
    margin: 3rem auto;

    > h1 {
      font-size: 2rem;
    }

    > div {
      gap: 4rem;
    }
  }

  .pageDetail
    .react-horizontal-scrolling-menu--wrapper
    .react-horizontal-scrolling-menu--item {
    height: auto;

    .exerciseCard {
      width: 450px;
      margin: 0 30px;
      @include flex(center, center);
      flex-direction: column;

      img {
        width: 300px;
      }

      > div {
        width: 100%;
      }

      h1 {
        font-size: 2rem;
        padding: 15px 10px 30px;
      }
    }
  }

  footer {
    padding: 40px;
    flex-direction: column;

    > a {
      margin-bottom: 2rem;
    }
  }
}
