@import "config";
@import "nav";
@import "hero";
@import "search";
@import "bodyPart";
@import "exercises";
@import "pagination";
@import "detail";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 0px;
}
