@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90vw;
  margin: 0 auto;
  padding: 25px 10px;
  font-family: "Lato", sans-serif;
}

nav a:not(#logo) {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 80px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 80vh;
  max-width: 90vw;
  margin: 0 auto;
  padding: 25px 10px;
  font-family: "Lato", sans-serif;
}

.hero h2 {
  color: #ff2625;
}

.hero #title {
  padding: 30px 0 20px;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 60px;
  font-weight: 700;
  max-width: 300px;
}

.hero #bg {
  color: #ff2625;
  font-size: 12.5rem;
  font-weight: 600;
  opacity: 0.1;
  display: block;
  text-align: center;
}

.hero h3 {
  font-weight: 500;
  padding-bottom: 40px;
  max-width: 450px;
}

.hero button {
  background: none;
  border: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.hero button a {
  color: #fff;
  text-decoration: none;
  background-color: #ff2625;
  padding: 15px 25px;
  border-radius: 5px;
  letter-spacing: 2px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.hero button a:hover {
  background-color: #fff;
  color: #ff2625;
  border: 2px dashed #ff2625;
}

.hero img {
  position: absolute;
  right: 60px;
  top: 0px;
  width: 630px;
  height: 800px;
  margin-top: -15px;
}

.search {
  margin-top: 8rem;
  font-family: "Lato", sans-serif;
}

.search h1 {
  font-size: 3rem;
  text-align: center;
}

.search > div:first-of-type {
  max-width: 80vw;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search > div:first-of-type input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border-radius: 5px 0 0 5px;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

.search > div:first-of-type button {
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #ff2625;
  border-radius: 0 5px 5px 0;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  border: none;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.search > div:first-of-type button:hover {
  background-color: rgba(255, 38, 37, 0.1);
  color: #ff2625;
  border: 0.5px solid #ff2625;
}

.bodyPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  height: 280px;
  background: #fff;
  cursor: pointer;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  margin: 0 40px;
}

.bodyPart:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.bodyPart img {
  height: 40px;
  width: 40px;
  margin-bottom: 1.5rem;
}

.bodyPart h2 {
  font-weight: bold;
  text-transform: capitalize;
}

.search .react-horizontal-scrolling-menu--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80vw;
  margin: 4rem auto;
}

.search .react-horizontal-scrolling-menu--wrapper h1 {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.search .react-horizontal-scrolling-menu--wrapper h1:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.exercises {
  font-family: "Lato", sans-serif;
  max-width: 90vw;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.exercises > h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.exercises > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.exerciseCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
  background-color: #fff;
  border-top: 4px solid #ff2625;
  padding: 0 25px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.exerciseCard > div {
  margin: 1rem 0;
}

.exerciseCard > div button {
  color: #fff;
  border: none;
  margin-right: 1rem;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 20px;
}

.exerciseCard > div button:first-of-type {
  background-color: #fda9ae;
}

.exerciseCard > div button:last-of-type {
  background-color: #fbc85a;
}

.exerciseCard h1 {
  color: #000;
  padding-bottom: 35px;
  text-transform: capitalize;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  cursor: pointer;
}

.pagination .active a {
  background-color: #ff2625;
  color: #fff;
}

.pagination a {
  padding: 10px 15px;
  border: 1px solid #ff2625;
  color: #ff2625;
}

.pagination a:hover {
  background-color: rgba(255, 38, 37, 0.7);
  color: #fff;
}

.pagination a.next, .pagination a.prev {
  font-weight: bold;
}

.pageDetail {
  font-family: "Lato", sans-serif;
}

.pageDetail > h1 {
  max-width: 90vw;
  margin: 0 auto;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.pageDetail > h1 span {
  color: #ff2625;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 90vw;
  margin: 1rem auto;
}

.detail > img {
  width: 550px;
  margin-right: 40px;
}

.detail .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail .info h1 {
  font-size: 2.5rem;
  padding: 20px 0;
  text-transform: capitalize;
  max-width: 700px;
}

.detail .info p {
  font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 2rem;
  max-width: 700px;
}

.detail .info > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
}

.detail .info > div > div button {
  height: 85px;
  width: 85px;
  background-color: #fff2de;
  padding: 15px;
  border-radius: 50%;
  border: none;
}

.detail .info > div > div button img {
  height: 80%;
}

.detail .info > div > div h3 {
  text-transform: capitalize;
  margin: 0 2rem;
}

.video {
  max-width: 90vw;
  margin: 4rem auto;
  font-family: "Lato", sans-serif;
}

.video > h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.video > h1 span {
  color: #ff2625;
}

.video > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
}

.video > div img {
  height: 200px;
  border-radius: 25px 0;
}

.video > div h3 {
  font-size: 2rem;
  padding: 5px 0;
  max-width: 350px;
}

.video > div h4 {
  opacity: 0.7;
}

.video > div h5 {
  float: right;
  opacity: 0.7;
}

.pageDetail .react-horizontal-scrolling-menu--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80vw;
  margin: 5rem auto 0;
  position: relative;
}

.pageDetail .react-horizontal-scrolling-menu--wrapper .left-arrow,
.pageDetail .react-horizontal-scrolling-menu--wrapper .right-arrow {
  position: absolute;
  top: -100px;
  margin-top: 3rem;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.pageDetail .react-horizontal-scrolling-menu--wrapper .left-arrow:hover,
.pageDetail .react-horizontal-scrolling-menu--wrapper .right-arrow:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.pageDetail .react-horizontal-scrolling-menu--wrapper .right-arrow {
  left: 0;
}

.pageDetail .react-horizontal-scrolling-menu--wrapper .left-arrow {
  left: 50px;
}

.pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item {
  height: 500px;
}

.pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item .exerciseCard {
  margin-right: 40px;
  margin-bottom: 0;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item .exerciseCard:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item .exerciseCard img {
  height: 326px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  padding: 40px;
  background-color: rgba(255, 38, 37, 0.1);
  font-family: "Lato", sans-serif;
}

footer > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #000;
  text-decoration: none;
}

footer > a img {
  margin-right: 1rem;
}

footer > a p {
  font-size: 1.5rem;
  font-weight: 700;
}

footer h2 {
  color: #ff2625;
}

@media (max-width: 1200px) {
  nav {
    padding: 25px 0;
  }
  .hero {
    padding: 25px 0;
  }
  .hero img {
    right: 20px;
    width: 450px;
    height: 550px;
    margin-top: 0;
  }
  .hero #bg {
    font-size: 10rem;
  }
  .search {
    margin-top: 2rem;
  }
  .search .react-horizontal-scrolling-menu--wrapper {
    max-width: 90vw;
  }
  .search .react-horizontal-scrolling-menu--wrapper .bodyPart {
    width: 300px;
    margin: 0 30px;
  }
  .pageDetail .react-horizontal-scrolling-menu--wrapper {
    max-width: 90vw;
  }
  .detail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .detail > img {
    width: 450px;
    display: block;
    margin: 0 auto 1.5rem;
  }
  .detail .info {
    margin-bottom: 4rem;
  }
  .detail .info h1 {
    font-size: 2.5rem;
    max-width: none;
  }
  .detail .info p {
    max-width: none;
    font-size: 1.5rem;
  }
  .detail .info > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .detail .info > div > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detail .info > div > div button {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    display: block;
    text-align: center;
  }
  .hero img {
    display: none;
  }
  .hero h2 {
    text-align: start;
  }
  .hero #title,
  .hero h3 {
    max-width: none;
  }
  .search .react-horizontal-scrolling-menu--wrapper {
    max-width: 90vw;
  }
  .search .react-horizontal-scrolling-menu--wrapper .bodyPart {
    width: 300px;
    margin: 0 25px;
  }
  .exercises > div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem;
  }
  .exercises > div .exerciseCard {
    width: 300px;
  }
  .exercises > div .exerciseCard img {
    width: 250px;
  }
  .exercises > div .exerciseCard h1 {
    font-size: 1.3rem;
  }
  .exercises > div .exerciseCard > div button {
    margin-bottom: 0.5rem;
  }
  .detail .info h1 {
    font-size: 2.2rem;
  }
  .detail .info p {
    font-size: 1.2rem;
  }
  .video > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
  .video > div img {
    height: 250px;
  }
  .video > div h3 {
    max-width: 400px;
  }
  .pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item {
    height: 450px;
  }
  .pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item .exerciseCard {
    width: 300px;
    height: 445px;
    margin-right: 55px;
  }
  .pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item .exerciseCard img {
    width: 250px;
  }
  .pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item .exerciseCard h1 {
    font-size: 1.3rem;
  }
  .pageDetail .react-horizontal-scrolling-menu--wrapper .react-horizontal-scrolling-menu--item .exerciseCard > div button {
    margin-bottom: 0.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 0px;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #ff2625;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */